<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,800&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href='{{ "css/rewards-alt.css" | absURL }}'>
  <title>{{ .Title }} · {{ .Site.Title }}</title>
</head>
<body>
  <div class="wrapper min-h-full">
    <div class="cell bg-red-violet first p-8">
      <div class="cell-content min-h-full flex flex-column">
        <div class="cell-body flex-grow flex flex-column justify-center">
          <p class="mb-4">
            <span class="block">Crea</span>
            <span class="text-black">visualizaciones</span>.
          </p>
          <p class="mb-4">
            <span class="block">Comunica</span>
            <span class="text-black">con impacto</span>.
          </p>
          <p class="mb-8">
            <span class="block">Inpira</span>
            <span class="text-black">a otros</span>.
          </p>
        </div>
      </div>
    </div>
    <div class="cell second bg-black p-8">
      <div class="cell-content">
        <p>
          <a href="https://www.kickstarter.com/projects/datasketch/savethedata?utm_source=website&utm_medium=landing-apps" target="_blank" ><span class="text-red-violet">Patrocina una app</span> en nuestra campaña en <em>Kickstarter</em></a>.
        </p>
      </div>
    </div>
    <div class="cell bg-black third">
      <div class="cell-content cell-absolute">
        <img src='{{ "gif/apps.gif" | absURL }}' alt="">
      </div>
    </div>
  </div>
</body>
</html>