<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,800&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href='{{ "css/rewards.css" | absURL }}'>
  <title>{{ .Title }} · {{ .Site.Title }}</title>
</head>
<body>
  <div class="wrapper min-h-full">
    <div class="cell">
      <div class="cell-content min-h-full flex-column">
        <div class="cell-body flex-grow">
          <p class="mb-4">
            <span class="block">Ponte</span>
            <span class="text-casablanca">un dato</span>.
          </p>
          <p class="mb-4">
            <span class="block">Transmite</span>
            <span class="text-casablanca">conocimiento</span>.
          </p>
          <p class="mb-8">
            <span class="block">Sé un</span>
            <span class="text-casablanca">activista</span>.
          </p>
        </div>
        <div class="cell-footer">
          <p class="text-sm font-normal leading-tight">Todos nuestros diseños son visualizaciones de datos sobre problemáticas sociales tales como violencia contra la comunidad LGBT o embarazo en niñas. Nuestro propósito es generar conciencia a través de estos accesorios.</p>
        </div>
      </div>
    </div>
    <div class="cell">
      <div class="first">
        <img src='{{ "gif/camisetas1.gif" | absURL }}' alt="">
      </div>
      <div class="second">
        <img src='{{ "gif/camisetas2.gif" | absURL }}' alt="">
      </div>
      <div class="third">
        <img src='{{ "gif/camisetas3.gif" | absURL }}' alt="">
      </div>
    </div>
    <div class="cell">
      <div class="cell-content flex-column min-h-full">
        <div class="cell-body flex-grow">
          <p>
            <span class="block">¿Quieres una?</span>
            <span>Puedes obtenerla donando en nuestro <span class="text-casablanca">proyecto en Kickstarter</span></span>.
          </p>
        </div>
        <div class="cell-footer">
          <img src='{{ "gif/howtofinal.gif" | absURL }}' alt="">
          <a href="https://www.kickstarter.com/projects/datasketch/savethedata" class="block btn" target="_blank">¡Dona ahora!</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>