#site_title_mobile {
  display: flex;
  justify-content: center;
  padding-bottom: calc(40px + (60 - 40) * ((100vw - 768px) / (768 - 320)));
}

#site_title_mobile img {
  width: 40%;
  height: 100%;
}

#site_title {
  display: none;
}

.home .title_container {
  padding-top: calc(10px + (15 - 10) * ((100vw - 320px) / (2560 - 320)));
  padding-bottom: calc(10px + (15 - 10) * ((100vw - 320px) / (2560 - 320)));
}

.home .title {
  padding: calc(7px + (10 - 7) * ((100vw - 320px) / (2560 - 320)));
}

.home .paragraph {
  width: 65%;
  margin: 0 auto;
  padding-top: calc(30px + (50 - 30) * ((100vw - 768px) / (768 - 320)));
}

.home .button_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding-top: calc(40px + (50 - 40) * ((100vw - 768px) / (768 - 320)));
}

.home a.button {
  font-size: calc(12px + (20 - 12) * ((100vw - 320px) / (2560 - 320)));
  text-decoration: none;
  margin: 5px;
}

/* .home a.button img {
  height: 12px;
  width: auto;
  padding-left: 5px;
} */

@media screen and (min-width: 698px) {

  #site_title {
    display: flex;
    justify-content: center;
    padding-bottom: calc(30px + (50 - 30) * ((100vw - 768px) / (2560 - 698)));
  }

  #site_title img {
    width: 70%;
    height: auto;
  }

  #site_title_mobile {
    display: none;
  }

}


@media screen and (min-width: 768px) {

  .home .paragraph {
    width: 45%;
  }
}
