#mc_embed_signup .mc-field-group, #mc_embed_signup .clear {
  text-align: center;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#mc_embed_signup input.input {
  border-style: none;
  background-color: #f2f6f7;
  color: #1b0d20;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  letter-spacing: 0.05em;
  font-size: calc(14px + (25 - 14) * ((100vw - 768px) / (2560 - 320)));
  padding: 10px;
  margin: 10px;
  min-width: 250px;
  border-radius: 0px;
}

#mc_embed_signup input::placeholder {
  color: #8097a4;
}

#mc_embed_signup input.button {
  border-style: none;
  background-color: #e515aa;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  letter-spacing: 0.05em;
  font-size: calc(14px + (25 - 14) * ((100vw - 768px) / (2560 - 320)));
  padding: 10px;
  margin: 10px;
  min-width: 150px;
  -webkit-appearance: none;
  border-radius: 0px;
  text-transform: uppercase;
  letter-spacing: 0.07em;
}
