.makingof .picture img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  object-fit: cover;
  object-position: center;
  left: 0;
}

.makingof .picture {
  position: relative;
  height: 0;
  width: 100%;
  padding-bottom: 56.25%;
}

.makingof .box_container {
  display: flex;
  overflow-x: hidden;
}
