.team {
  padding-top: calc(50px + (100 - 50) * ((100vw - 320px) / (2560 - 320)));
}

.team .photo {
  width: 100%;
  background-image: url("/img/team/team.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(400px + (900 - 400) * ((100vw - 320px) / (2560 - 320)));
  text-align: center;
}

.team h1 {
  position: relative;
  bottom: 0;
}

.team .box_container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-evenly;
  padding: 50px 0px 100px 0px;
}

.team .box {
  display: flex;
  align-items: center;
  max-width: 450px;
  padding: 10px 20px;
  padding-bottom: 30px;
}

.team .thumbnail {
  margin-right: 30px;
  clip-path: circle(60px at center);
}

.team .thumbnail img {
  height: 130px;
  width: auto;
}

.team .name {
  text-transform: uppercase;
  padding-bottom: 15px;
}

.team p {
  font-size: calc(12px + (15 - 12) * ((100vw - 768px) / (2560 - 320)));
  line-height: 1.28em;
}
