*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

.bold {
  font-weight: 800;
  letter-spacing: 0.07em;
}

.italic {
  font-style: italic;
}

h1 {
  font-size: calc(20px + (50 - 20) * ((100vw - 320px) / (2560 - 320)));
}

h2 {
  font-size: calc(12px + (35 - 12) * ((100vw - 320px) / (2560 - 320)));
}

h6 {
  font-size: calc(16px + (27 - 16) * ((100vw - 768px) / (2560 - 320)));
}

.title {
  text-align: center;
}

.paragraph {
  line-height: 1.35em;
  font-size: calc(14px + (25 - 14) * ((100vw - 768px) / (2560 - 320)));
  text-align: center;
}

a.button {
  text-decoration: none;
  border: 1px solid #1b0d20;
  background-color: #fff;
  color: #1b0d20;
  padding: 8px;
}

a.button:hover {
  color: #e515aa;
  border: 1px solid #e515aa;
}

.pink {
  color: #e515aa;
}

.black {
  color: #1b0d20;
}

.white {
  color: #fff;
}

.hightlight.black {
  background-color: #1b0d20;
  color: #fff;
  padding: 3px 5px;
}

.hightlight.pink {
  background-color: #e515aa;
  color: #fff;
  padding: 5px 10px;
}

.divider {
  padding: 60px 0px;
  text-align: center;
}

.relative {
  position: relative;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}