*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
}

body.no-scroll {
  overflow: hidden;
}

.bold {
  font-weight: 800;
  letter-spacing: 0.07em;
}

.italic {
  font-style: italic;
}

h1 {
  font-size: calc(20px + (50 - 20) * ((100vw - 320px) / (2560 - 320)));
}

h2 {
  font-size: calc(12px + (35 - 12) * ((100vw - 320px) / (2560 - 320)));
}

h6 {
  font-size: calc(16px + (27 - 16) * ((100vw - 768px) / (2560 - 320)));
}

.title {
  text-align: center;
}

.paragraph {
  line-height: 1.35em;
  font-size: calc(14px + (25 - 14) * ((100vw - 768px) / (2560 - 320)));
  text-align: center;
}

button.button,
a.button {
  text-decoration: none;
  border: 1px solid #1b0d20;
  background-color: #fff;
  color: #1b0d20;
  padding: 8px;
}

button.button:hover,
a.button:hover {
  color: #e515aa;
  border: 1px solid #e515aa;
}

.container {
  margin: 0 auto !important;
  max-width: 100%;
  padding: 0 1rem;
  width: 100%;
}

.pink {
  color: #e515aa;
}

.black {
  color: #1b0d20;
}

.white {
  color: #fff;
}

.hightlight.black {
  background-color: #1b0d20;
  color: #fff;
  padding: 3px 5px;
}

.hightlight.pink {
  background-color: #e515aa;
  color: #fff;
  padding: 5px 10px;
}

.divider {
  padding: 60px 0px;
  text-align: center;
}

.relative {
  position: relative;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 1024px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1280px;
  }
}

/* Shortcodes */
.images-picker .button {
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  cursor: pointer;
}

.lightbox-wrapper {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(255, 255, 255, 0.9);
  width: 100%;
  height: 100%;
  z-index: 9999;
  padding: 1.5rem 0;
  overflow-y: scroll;
}

.lightbox-wrapper.active {
  display: flex;
}

.lightbox {
  margin-top: auto !important;
  margin-bottom: auto !important;
}

.lightbox-header {
  text-align: right;
  margin-bottom: 1.5rem;
}

.lightbox-header button {
  background: transparent;
  padding: 0;
  border: none;
  font-size: 1.875rem;
  cursor: pointer;
}

.lightbox img:not(:last-of-type) {
  margin-bottom: 1.5rem;  
}

.lightbox img:last-of-type {
  margin-bottom: 0 !important;
}