nav {
  padding: calc(12px + (20 - 12) * ((100vw - 320px) / (2560 - 320)));
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  position: sticky;
  position: -webkit-sticky;
  top: 0px;
  z-index: 999;
}

nav .socialmedia .icon {
  height: calc(11px + (17 - 11) * ((100vw - 320px) / (2560 - 320)));
  width: auto;
  padding-left: calc(15px + (35 - 15) * ((100vw - 320px) / (2560 - 320)));
}

nav .socialmedia .icon:hover {
  filter: brightness(0);
}

#logo {
  width: auto;
  height: calc(18px + (35 - 18) * ((100vw - 320px) / (2560 - 320)));
}
