<!DOCTYPE html>
<html lang="en">
<head>
  {{ template "_internal/google_analytics_async.html" . }}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <title>{{.Site.Title}}</title>
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,800,800i&display=swap" rel="stylesheet">
  <link rel="stylesheet" href='{{ "/css/reset.css" | absURL}}'>
  <link rel="stylesheet" href='{{ "/css/base.css" | absURL}}'>
  <link rel="stylesheet" href='{{ "/css/navbar.css" | absURL}}'>
  <link rel="stylesheet" href='{{ "/css/home.css" | absURL}}'>
  <link rel="stylesheet" href='{{ "/css/subscribe.css" | absURL}}'>
  <link rel="stylesheet" href='{{ "/css/mailchimp.css" | absURL}}'>
  <link rel="stylesheet" href='{{ "/css/problems.css" | absURL}}'>
  <link rel="stylesheet" href='{{ "/css/founder.css" | absURL}}'>
  <link rel="stylesheet" href='{{ "/css/features.css" | absURL}}'>
  <link rel="stylesheet" href='{{ "/css/team.css" | absURL}}'>
  <link rel="stylesheet" href='{{ "/css/post.css" | absURL}}'>
  <!-- <link rel="stylesheet" href="/css/makingof.css"> -->
  {{ block "head" . }}{{ end }}
  <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
  {{ partial "navbar.html" . }}
  <main>
    {{ block "body" . }}{{end}}
  </main>
  {{ partial "footer.html" . }}
</body>
</html>
