<footer>
  <div class="box">
    <img src="/img/logo_vertical.svg" alt="Logo Datasketch">
  </div>
  <div class="box contact">
    <h4 class="white bold">CONTACT US</h4>
    <div class="socialmedia">
      <a href="https://twitter.com/datasketch"><img class="icon" src="/img/twitter.svg" alt="Twitter"/></a>
      <a href="mailto: info@datasketch.co"><img class="icon" src="/img/mail.svg" alt="Email"/></a>
      <a href="https://www.facebook.com/datasketch/"><img class="icon" src="/img/facebook.svg" alt="Facebook"/></a>
    </div>
  </div>
  <div class="box copyright">
    <img src="/img/copyright.svg" alt="CC-BY-SA icon">
    <p class="white">Everything in this webpage, unless specified otherwise, is CC-BY-SA. If you reuse or adapt resources, please make a reference to our page.</p>
  </div>
</footer>
