{{ define "body" }}
<div class="home">
  <div id="site_title"><img src="/img/title.svg" alt="SAVE THE DATA"/></div>
  <div id="site_title_mobile"><img src="/img/title_mobile.svg" alt="SAVE THE DATA"/></div>
  <div class="title_container">
    <h2 class="title bold"><span class="hightlight black">EMPOWERING ORGANIZATIONS</span></h2>
    <h2 class="title bold"><span class="hightlight black">THROUGH <span class="pink">DATA</span> AND INFORMATION</span></h2>
  </div>
  <div class="paragraph_container">
    <p class="paragraph">Our <b>Data Apps</b> will allow communities and organizations to <b>clean, organize and visualize their data.</b> This is the beginning of a data revolution which will allow making informed and <b>evidence-based decisions</b> in contexts ranging from social activism, to industry and commerce.</p>
  </div>
  <div class="button_container">
    <a class="button" href="https://dskt.ch/2Zyk13m">
      <div class="bold">OUR KICKSTARTER
        <!-- <span><img src="/img/kickstarter-green.png" alt="Kickstarter logo"></span> -->
      </div></a>
    <a class="button" href="/how-to-launch-kickstarter-perimortem">
      <div class="bold">OUR PROCESS</div>
    </a>
  </div>
</div>

<div class="divider"><img src="/img/divider.svg" alt="Section divider"/></div>

<div class="subscribe" id="kickstarter">
  <div class="icon"><img src="/img/subscribe.svg" alt="Subscribe icon"/></div>
  <div class="title_container">
    <h1 class="title bold">OUR KICKSTARTER CAMPAIGN IS RIGHT AROUND THE CORNER!</h1>
  </div>
  <div class="paragraph_container">
    <p class="paragraph">To be the first one to donate to our project, please leave us your contact details.</p>
  </div>
  {{ partial "mailchimp.html" . }}
</div>

<div class="problems">
  <div class="title_container">
    <div class="title">
      <h1 class="title bold"><span class="hightlight black">Wha are we trying</span></h1>
      <h1 class="title bold"><span class="hightlight black"><span class="pink italic">to solve</span>?</span></h1>
    </div>
  </div>
  <div class="box_container">
    <div class="box">
      <div class="gif" id="gif3"></div>
      <p class="paragraph white bold italic">There are lots of data but people don't know <span class="pink italic">what to do with it</span></p>
    </div>
    <div class="box">
      <div class="gif" id="gif2"></div>
      <p class="paragraph white bold italic">Data for important issues is <span class="pink italic">hard to find </span> and communicate.</p>
    </div>
    <div class="box">
      <div class="gif" id="gif4"></div>
      <p class="paragraph white bold italic">Current solutions are not <span class="pink italic">accessible</span> enough for non-tech users.</p>
    </div>
    <div class="box">
      <div class="gif" id="gif1"></div>
      <p class="paragraph white bold italic">People do not easily <span class="pink italic">embrace facts</span></p>
    </div>
  </div>
</div>
<div class="founder">
  <div class="box text">
    <h6 class="black bold italic">“<span class="pink italic">The ones who need information don’t have an easy access to it:</span> from the manager of a multinational corporation to a city mayor who wants to install a traffic light. I wanted to conceive a way in which people could have <span class="pink italic">quick answers based on data</span>, based on facts. Usually, the developers of open code software don’t succeed in monetizing it. And it is important that those <span class="pink italic">awesome weekend projects</span> can become someone’s source of income.”</h6>
    <h4 class="white bold"><span class="hightlight black">Juan Pablo Marín</span></h4>
    <h4 class="white bold"><span class="hightlight black">CEO at Datasketch</span></h4>
  </div>
  <div class="box">
    <img src="/img/founder.png" alt="Juan Pablo Marín, CEO at Datasketch"/>
  </div>
</div>
<div class="features">
  <div class="title_container">
    <div class="title">
      <h1 class="title bold"><span class="hightlight black">What are our</span></h1>
      <h1 class="title bold"><span class="hightlight black"><span class="pink italic">features</span>?</span></h1>
    </div>
  </div>
  <div class="box_container">
    {{ range $feature := .Params.features }}
    <div class="box feature">
      <div class="mockup">
        <img src="{{ $feature.image }}" alt="App mockup">
      </div>
      <div class="info">
        <img src="{{ $feature.icon }}" alt="Feature icon">
        <h2 class="black bold title">{{ $feature.title }}</h2>
        <p class="black">{{ $feature.description }}</p>
      </div>
    </div>
    {{ end }}
  </div>
  <div class="progress relative">
    <div class="progress-bar"></div>
    <div class="progress-mask"></div>
  </div>
</div>
<div class="team">
  <div class="photo">
    <h1 class="white bold"><span class="hightlight pink">OUR TEAM</span></h1>
  </div>
  <div class="box_container">
    {{ range $member := .Params.team }}
    <div class="box">
      <div class="thumbnail">
        <img src="{{ $member.image }}" alt="Thumbnail">
      </div>
      <div class="info">
        <h2 class="name black bold">{{ $member.name }}</h2>
        <p class="description italic">{{ $member.description }}</p>
      </div>
    </div>
    {{ end }}
  </div>
</div>

<!-- <div class="makingof">
  <div class="title_container">
    <div class="title">
      <h1 class="title bold"><span class="hightlight black">The <span class="pink italic">making-of</span></span></h1>
    </div>
  </div>
  <div class="box_container">
    {{ range seq 79 }}
    <div class="box feature">
      <div class="picture">
        <img src="/img/makingof/DATA-{{.}}.jpeg" alt="App mockup">
      </div>
    </div>
    {{ end }}
  </div>
</div> -->
{{ end }}
