<div class="images-picker">
  {{ range $choice, $images := $.Page.Params.gallery }}
    <button class="button image-choice" data-choice="{{ $choice }}"><span class="bold">{{ $choice }}</span></button>
    <div class="lightbox-wrapper" id="{{ $choice }}-lightbox">
      <div class="lightbox container">
        <div class="lightbox-header">
          <button class="lightbox-dismiss">
            <i class="fa fa-times"></i>
          </button>
        </div>
        {{ range $images }}
          <img src="{{ . }}" alt="">
        {{ end }}
      </div>
    </div>
  {{ end }}
</div>
<script>
  const choices = document.querySelectorAll('.images-picker .image-choice');
  choices.forEach(function (choice) {
    choice.addEventListener('click', function () {
      const choice = this.dataset.choice;
      const lightbox = document.getElementById(choice + '-lightbox');
      const dismiss = lightbox.querySelector('.lightbox-dismiss')
      lightbox.classList.add('active');
      document.body.classList.add('no-scroll');
      dismiss.addEventListener('click', function () {
        lightbox.classList.remove('active');
        document.body.classList.remove('no-scroll');
      })
    });
  });
</script>